@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* good link color as well #3c366b; */

html {
    scroll-behavior: smooth;
  }


a:hover{
    text-decoration: underline;
}


li{
    list-style: none;
}

img{
    border-radius: 4px;
}


#no-underline{
    text-decoration: none;
}


#side-link-email {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: 0.50rem;
    right: auto;
    z-index: 1;
}
.side-email-flex{
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.side-email-flex img{
  height: 22px;
  width: 22px;
  margin-bottom: 30px;
}
.side-email-flex a{
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 12px;
  text-decoration: none;
  color: #34568B;
  letter-spacing: -2px;
}
.side-email-flex a:hover{
   color: orangered;
   animation: bounce 1s;
}

#side-link {
    width: 40px;
    position: fixed;
    bottom: 0px;
    right: 0.50rem;
    left: auto;
    z-index: 1;
}


.side-flex{
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  list-style: none;
}


.line{
  width: 1px;
  height: 100px;
  margin-top: 20px;
  background-color: orangered;
}



@keyframes bounce {
    0%, 20%, 60%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  
    40% {
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
    }
  
    80% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
  }


  /*divider*/
  .divider-title {
    align-items: center;
    display: flex;
    width: 65%;
}
.divider{
    height: 1px;
    background: #444;
    flex: 0.7;
}


/*about*/
#about-title{
    padding-right: 0.50rem;
}


/* blend */
.blendParent {
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    padding-left: 0px;
}
.all{
  	height: 100%;
    width: 100%;
    display: block;
     background-size: cover;
     box-shadow: 0 0 10px rgba(0,0,0 ,0.1 );
     background-repeat: no-repeat;
    transition: all 200ms ease-in-out;
}
.blend-3{
   background-image: url('../assets/about/headshot.jpg');
}
.blendParent:hover .blend, .blendParent:focus .blend{
  background-color: #00d177;
  background-blend-mode:luminosity;
  transition-delay: 0s;
   -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
.all:before{
   content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.blendParent:hover .all, .blendParent:focus .all{
  background-color: #00d177;
  background-blend-mode:luminosity;
  transition-delay: 0s;
   -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}


.test{
    font-size: 2.25rem;
}

#particles-js{
    position: absolute;
    height: 50vh;
    width: 85%;
  }


  @media (max-width: 767px) {
    .blendParent {
        width: 200px;
        height: 200px;
    }
  }