@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* good link color as well #3c366b; */

html {
    scroll-behavior: smooth;
  }

  body::-webkit-scrollbar {
    width: 1em;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

  }
   
  body::-webkit-scrollbar-thumb {
    background-color: white;
    outline: 1px solid slategrey;
  }

  body{
    background: #000000;
  }

  h2,h3,p,li{
    color: #fff;
  }

h3{
  font-family: 'Russo One', sans-serif;  
}

a{
    text-decoration: none;
    color: #55ACEE;
}



.custom-nav a{
    display: inline-block;
    position: relative;
}
.custom-nav a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .custom-nav a:hover:after { 
    width: 100%; 
    left: 0; 
  }

 

li{
    list-style: none;
}

img{
    border-radius: 4px;
}



#side-link-email {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: 0.50rem;
    right: auto;
    z-index: 1;
}
.side-email-flex{
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.side-email-flex img{
  height: 22px;
  width: 22px;
  margin-bottom: 30px;
}
.side-email-flex a{
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 12px;
  text-decoration: none;
  color: #55ACEE;
  letter-spacing: -2px;
}
.side-email-flex a:hover{
   color: #fff;
   animation: bounce 1s;
}

#side-link {
    width: 40px;
    position: fixed;
    bottom: 0px;
    right: 0.50rem;
    left: auto;
    z-index: 1;
}


.side-flex{
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  list-style: none;
}


.line{
  width: 1px;
  height: 100px;
  margin-top: 20px;
  background-color: #fff;
}



@keyframes bounce {
    0%, 20%, 60%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  
    40% {
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
    }
  
    80% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
  }


  /*divider*/
  .divider-title {
    align-items: center;
    display: flex;
    width: 65%;
}
.divider{
    height: 1px;
    background: #444;
    flex: 0.7;
}


/*about*/
#about-title{
    padding-right: 0.50rem;
}


/* blend */
.blendParent {
    width: 300px;
    height: 400px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    padding-left: 0px;
}
.all{
  	height: 100%;
    width: 100%;
    display: block;
     background-size: cover;
     box-shadow: 0 0 10px rgba(0,0,0 ,0.1 );
     background-repeat: no-repeat;
    transition: all 200ms ease-in-out;
}
.blend-3{
   background-image: url('../assets/about/self-portrait-px.png');
}
.blendParent:hover .blend, .blendParent:focus .blend{
  background-color: #00d177;
  background-blend-mode:luminosity;
  transition-delay: 0s;
   -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
.all:before{
   content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.blendParent:hover .all, .blendParent:focus .all{
  background-color: #00d177;
  background-blend-mode:luminosity;
  transition-delay: 0s;
   -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}




#particles-js{
    position: absolute;
    height: 50vh;
    width: 85%;
  }


  video{
    height: 380px;
    width: 580px;
}

/*
nav
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
*/

#test{
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}

.mp4-background{
  box-shadow: 8px 5px 5px #434190;
  /*#203ADE more blue  */
}


#footer{
    width: 100%;
    bottom: 0;
    
}

#linkedin-icon-footer{
  height: 48px;
  width: 48px;
}


/* Button comp */
#btn {
  background: #fff;
  height: 42px;
  max-width: 115px;
  border: none;
  border-radius: 8px;
  color: #000;
  font-size: 18px;
  position: relative;
  transition: 1s;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 5px;
}

#btn #circle {
  width: 5px;
  height: 5px;
  background: transparent;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  overflow: hidden;
  transition: 500ms;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

#btn:hover {
  background: transparent;
  color:#fff;
}

#btn:hover #circle {
  height: 42px;
  width: 115px;
  left: 0;
  border-radius: 0;
  border-bottom: 2px solid #eee;
}


  @media (max-width: 767px) {
    .blendParent {
        width: 300px;
        height: 380px;
    }

    
  }