@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* good link color as well #3c366b; */

a{
    color: #3c366b;
    font-weight: 500;
}
a:hover{
    text-decoration: underline;
}


li{
    list-style: none;
}

img{
    border-radius: 4px;
}


.facts{
    width: 100%;
}
